.Container {
    position: relative;

    .Trainer {
        margin: 1em;
        width: -webkit-fill-available;
        height: 12em;
        background-color: transparent;
        border-radius: .8em;
        overflow: hidden;

        position: relative;

        .Image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .Details {
            position: absolute;
            inset: 0;
            
            color: white;

            .Time {  
                display: flex;
                align-items: center;

                height: 1.8em;
                width: 5em;

                margin-inline: 12px;

                background-color: #0008;
                
                border-radius: 2em;

                font-size: 12px;
                font-weight: 300;

                svg {
                    height: 15px;
                }
            }

            p {
                margin: 12px;
                text-shadow: 0 2px 4px #0002;
                font-size: 38px;
                font-weight: 800;
                line-height: 0.84;
            }
        }
    }

    .Border {
        width: -webkit-fill-available;
        height: 12em;
        border-radius: .8em;
        position: absolute;
        top: 0;
        margin: -2px calc(1em - 2px);
        z-index: -1;
        padding: 2px;
        background: linear-gradient(to right, var(--yellow), var(--green));
    }
}