.home {
    display: grid;
    grid-template-areas:
        "logo"
        "header"
        "body"
        "footer";
    grid-template: 2em 4em auto 4em / 1fr;
    align-items: center;
    justify-items: center;

    position: absolute;

    width: -webkit-fill-available;
    height: -webkit-fill-available;

    header {
        font-size: 28px;
        font-weight: 800;
    }

    footer {
        font-size: 10px;
        font-weight: 800;
    }
}