.Progress {
    appearance: none;
    transform: rotate(270deg);
    display: block;
    width: 7em;
    height: .7em;
    border-radius: 2em;
}



:global {
    .MuiLinearProgress-root {
        height: .7em !important;
    }

    .MuiLinearProgress-colorPrimary {
        background-color: transparent !important;
    }

    .MuiLinearProgress-barColorPrimary {
        background-image: linear-gradient(to right, var(--yellow) 0%, var(--green) 80%);
        border-radius: 2em;
    }
}